@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
.formwork {
    background: #eefbff;
}
.myforms {
    padding-top: 35px;
    padding-bottom: 35px;
    border: 1px solid #aaaaaa;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.form-group {
    padding-bottom: 18px;
}
.form-group input {
    border-radius: 0;
    padding: 8px 8px;
}
.form-group textarea {
    padding: 8px 10px;
    height: 150px;
    border-radius: 0;
}
.form-group label {
    padding-bottom: 8px;
    font-weight: 600;
}
.myforms h1 {
    text-align: center;
    color: #4CAF50;
    border-bottom: 2px solid #b6b6b6;
    margin-bottom: 30px !important;
    padding-bottom: 12px;
    width: 70%;
    margin: 0 auto;
}
.form-control:focus {
    color: none;
    background-color:none;
    border-color:inherit;
    outline: none;
    box-shadow:none;
}